*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/copyright/profiles_settings.xml

.idea/vcs.xml

.idea/runConfigurations.xml

.idea/modules.xml

.idea/misc.xml

.idea/gradle.xml

.idea/compiler.xml
